﻿@model BreadcrumbsViewModel

<div>
	@foreach (var link in Model.Items)
	{
		@Html.ActionLink(link.LinkText, link.Action, link.Controller)
		if (link != Model.Items.Last())
		{
			<span> @Model.Delimiter </span>
		}
	}
</div>
