﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
	ViewData["Title"] = "Home Page";
}
@{
	Layout = "~/Views/Shared/_LayoutSecondary.cshtml";
}

<div class="text-center">
	@if (SignInManager.IsSignedIn(User))
	{
		<a asp-controller="Categories" asp-action="Index" class="btn btn-primary">Categories</a>
		<a asp-controller="Products" asp-action="Index" class="btn btn-primary">Products</a>
		<a href="/swagger" class="btn btn-primary">Swagger</a>
		<a href="/spa/index.html" class="btn badge-primary">SPA</a>
	}
	else
	{
		<a asp-controller="Account" asp-action="Register" class="btn btn-primary">Register</a>
		<a asp-controller="Account" asp-action="Login" class="btn btn-primary">Login</a>
	}
</div>
