﻿@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_LayoutPrimary.cshtml";
}

@model CategoryListViewModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper CoreNorthWind.Helpers.*, CoreNorthWind

<h1>Categories</h1>

<div class="mb-3 mt-3">
	<a asp-action="Add" class="btn btn-primary">Add Category</a>
</div>

<div>

	@{
		const int colsPerRow = 4;

		for (int rowIndex = 0;
			rowIndex < (int) Math.Ceiling(Model.Categories.Count() / Convert.ToDouble(colsPerRow));
			rowIndex++)
		{
			int addedCards = 0;
			<div class="row row-cols-2 row-cols-sm-2 row-cols-md-2 row-cols-lg-4">

				@foreach (var column in Model.Categories.Skip(rowIndex * colsPerRow).Take(colsPerRow))
				{
					<div class="col mt-3">
						<div class="card h-100 border-primary mb-3">
							<img src='@Url.Action("GetImage", new {categoryId = column.CategoryID})'
							     class="card-img-top" alt="@column.CategoryName"/>
							<div class="card-body">
								<h5 class="card-title">@column.CategoryName</h5>
								<p class="card-text">@column.Description</p>
							</div>
							<div class="card-footer">
								<a asp-action="Edit"
								   asp-route-id="@column.CategoryID"
								   class="btn btn-outline-primary btn-sm">
									Edit
								</a>
								<a asp-action="Delete"
								   asp-route-id="@column.CategoryID"
								   class="btn btn-outline-danger btn-sm float-right">
									Delete
								</a>
								<p class="card-text text-center">
									<small class="text-muted">
										<a northwind-id="@column.CategoryID" page-action="GetImage"></a>
									</small>
								</p>
							</div>

						</div>
					</div>
					addedCards++;
				}

				@if (addedCards < colsPerRow)
				{
					for (int i = 0; i < colsPerRow - addedCards; i++)
					{
						<div class="col"></div>
					}
				}

			</div>
		}

	}
</div>

<div class="mt-4 mb-4">
	<a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary">Back To Home</a>
</div>

@section Footer
{
	<footer class="border-top footer text-muted mt-3">
		<div class="container">
			<p class="text-center mt-2">
				<span class="border border-danger btn-danger rounded-pill p-2">
					Please do not modify the content of the page!
				</span>
			</p>
			
		</div>
	</footer>
}
