﻿@model LoginViewModel

@{
	ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
	<div class="col-md-4">
		<section>
			<form id="account" method="post">
				<h4>Use a local account to log in.</h4>
				<hr />
				<div asp-validation-summary="All" class="text-danger"></div>
				<div class="form-group">
					<label asp-for="Input.Email"></label>
					<input asp-for="Input.Email" class="form-control" />
					<span asp-validation-for="Input.Email" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Input.Password"></label>
					<input asp-for="Input.Password" class="form-control" />
					<span asp-validation-for="Input.Password" class="text-danger"></span>
				</div>
				<div class="form-group">
					<div class="checkbox">
						<label asp-for="Input.RememberMe">
							<input asp-for="Input.RememberMe" />
							@Html.DisplayNameFor(m => m.Input.RememberMe)
						</label>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Log in</button>
				</div>
				<div class="form-group">
					<p>
						<a asp-controller="Account" asp-action="ForgotPassword">Forgot your password?</a>
					</p>
					<p>
						<a asp-controller="Account" asp-action="Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
					</p>
				</div>
			</form>
		</section>
	</div>
	<div class="col-md-6 col-md-offset-2">
		<section>
			<h4>Use another service to log in.</h4>
			<hr />
			<a asp-controller="Account" asp-action="LoginWithAAD">Login With Azure</a>
		</section>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
