﻿@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_LayoutPrimary.cshtml";
}

<h1>Roles</h1>

<div>
	<a asp-action="Create" class="btn btn-primary">Add Role</a>
</div>
<div>
	<br />
</div>
<table class="table table-bordered table-striped">
	<tbody>
		@foreach (var role in Model)
		{
			<tr>
				<td>@role.Name</td>
				<td>
					<form asp-action="Delete" asp-route-id="@role.Id" method="post">
						<button type="submit" class="btn btn-sm btn-danger">
							Delete
						</button>
					</form>
				</td>
			</tr>
		}
	</tbody>
</table>
<div>
	<br />
</div>
<a asp-action="UserList" class="btn btn-outline-primary">Back To Users</a>