﻿@using Microsoft.AspNetCore.Identity
@model UserEditViewModel
@{
	ViewData["Title"] = "Edit";
	Layout = "~/Views/Shared/_LayoutPrimary.cshtml";
}

<h1>Edit User @Model.UserEmail</h1>


<form asp-action="Edit" method="post">
	<input type="hidden" name="userId" value="@Model.UserId" />
	<div class="form-group">
		@foreach (IdentityRole role in Model.AllRoles)
		{
			<input type="checkbox" name="roles" value="@role.Name"
				   @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />@role.Name <br />
			}
	</div>
	<button type="submit" class="btn btn-primary">Save</button>
</form>