﻿@model UserListViewModel
@{
	ViewData["Title"] = "Users";
	Layout = "~/Views/Shared/_LayoutPrimary.cshtml";
}

<h1>Users</h1>

<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Email</th>
			<th>Roles</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var user in Model.Users)
		{
			<tr>
				<td>@user.Email</td>
				<td>
					<ul>
						@foreach (var role in user.Roles)
						{
							<li>@role</li>
						}
					</ul>
				</td>
				<td>
					<a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid="@user.Id">Edit</a>
				</td>
			</tr>
		}
	</tbody>
</table>
