﻿@model CoreNorthWind.Models.ProductEditViewModel
@{
	Layout = "~/Views/Shared/_LayoutPrimary.cshtml";
}

@section Scripts {
	@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

<h1>@ViewData["Title"]</h1>

<div>
	<div class="container">
		<form asp-action="Edit" method="post">
			<div class="row">
				<div asp-validation-summary="All" class="text-danger"></div>
			</div>

			<div class="row">
				<div class="col-sm">
					<div class="form-group">
						<label asp-for="Product.ProductName">Product Name:</label>
						<input asp-for="Product.ProductName" class="form-control" />
					</div>
				</div>
				<div class="col-sm">
					<div class="form-group">
						<label asp-for="Product.UnitsInStock" s>Units In Stock:</label>
						<input asp-for="Product.UnitsInStock" class="form-control" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm">
					<div class="form-group">
						<label asp-for="Product.Supplier" s>Supplier:</label>
						<input asp-for="Product.Supplier" class="form-control" />
					</div>
				</div>
				<div class="col-sm">
					<div class="form-group">
						<label asp-for="Product.UnitsOnOrder" s>Units On Order:</label>
						<input asp-for="Product.UnitsOnOrder" class="form-control" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm">
					<div class="form-group">
						<label asp-for="Product.Category" s>Category:</label>
						<select asp-for="Product.Category" class="form-control">
							
							@foreach (var category in Model.Categories)
							{
								<option value="@category">@category.CategoryName</option>
							}
						</select>
					</div>
				</div>
				<div class="col-sm">
					<div class="form-group">
						<label asp-for="Product.ReorderLevel" s>Reorder Level:</label>
						<input asp-for="Product.ReorderLevel" class="form-control" />
					</div>
				</div>
			</div>
			<input type="hidden" asp-for="Product.ProductID" />
			<input type="hidden" asp-for="Product.SupplierID" />
			@*<input type="hidden" asp-for="Supplier" />*@
			<input type="hidden" asp-for="Product.CategoryID" />
			@*<input type="hidden" asp-for="Category" />*@
			<input type="hidden" asp-for="Product.QuantityPerUnit" />
			<input type="hidden" asp-for="Product.UnitPrice" />
			@*<input type="hidden" asp-for="UnitsInStock" />*@
			@*<input type="hidden" asp-for="UnitsOnOrder" />*@
			@*<input type="hidden" asp-for="ReorderLevel" />*@
			<input type="hidden" asp-for="Product.Discontinued" />

			<div>
				<a asp-action="Index" class="btn btn-outline-primary">Back To Products</a>
				<button type="submit" class="btn btn-primary float-right">Save Product</button>
			</div>
		</form>
	</div>
</div>
