﻿@using System.Linq
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper CoreNorthWind.Helpers.*, CoreNorthWind

@model ProductListViewModel

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_LayoutPrimary.cshtml";
}

<h1>Products</h1>
<div>
	<a asp-action="Add" class="btn btn-primary">Add Product</a>
</div>
<div>
	<br />
</div>
@if (Model.Products?.Count() > 0)
{
	<div class="table-responsive">
		<table class="products-table table table-striped table-bordered">
			<thead>
				<tr class="badge-dark">
					<th scope="col" style="width: 130px;" class="text-center"></th>
					<th scope="col" class="text-center">Product Name</th>
					<th scope="col" class="text-center">Supplier Name</th>
					<th scope="col" class="text-center">Category</th>
					<th scope="col" class="text-center">Quantity Per Unit</th>
					<th scope="col" class="text-center">Unit Price</th>
					<th scope="col" style="width: 130px;" class="text-center">Units In Stock</th>
					<th scope="col" style="width: 140px;" class="text-center">Units On Order</th>
					<th scope="col" class="text-center">Reorder Level</th>
					<th scope="col" class="text-center">Discontinued</th>

				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model.Products)
				{
				<tr scope="row">
					<td>
						<a asp-action="Edit" asp-route-id="@item.ProductID" class="btn btn-outline-info btn-sm">Edit</a>
						<a asp-action="Delete" asp-route-id="@item.ProductID" class="btn btn-outline-danger btn-sm">Delete</a>
					</td>
					<td>@item.ProductName</td>
					<td>@item.Supplier.CompanyName</td>
					<td>@item.Category.CategoryName</td>
					<td>@item.QuantityPerUnit</td>
					<td>@item.UnitPrice</td>
					<td>@item.UnitsInStock</td>
					<td>@item.UnitsOnOrder</td>
					<td>@item.ReorderLevel</td>
					<td>@item.Discontinued</td>

				</tr>
				}
			</tbody>
		</table>
	</div>
}
else
{
	<div>
		There are no products currently in stock. Add new product with <span class="badge badge-primary">Add Product</span> button.
	</div>
}

<div>
	<br/>
</div>

<div>
	<a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary">Back To Home</a>
	<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
	     page-class="btn" page-class-normal="btn-light"
	     page-class-selected="btn-primary" class="btn-group float-right">
	</div>
</div>
