﻿<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - CoreNorthWind</title>

	<environment include="Development">
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="~/css/site.css" />
	</environment>

	<environment exclude="Development">
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"
			  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
		<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
	</environment>
</head>
<body style="margin-bottom: 0 !important">

	<div class="masthead">
		<div class="container h-100">
			<div class="row h-100 align-items-center justify-content-center text-center">
				<div class="col-lg-10 align-self-end">
					<h1 class="text-uppercase text-white font-weight-bold">Welcome</h1>
					<hr class="divider my-4" />
				</div>
				<div class="col-lg-8 align-self-baseline">
					<p class="text-white-75 font-weight-light mb-5">Start exploring CoreNorthWind with Products and Categories. Enjoy the design and technical excellence!</p>
					<div class="container">
						<main role="main" class="pb-3">
							@RenderBody()
						</main>
					</div>
					@if (User.Identity.IsAuthenticated)
					{
						<div class="fixed-bottom">
							<p class="text-white-75 font-weight-light mb-5">
								You are logged as @User.Identity.Name
							</p>

							<p>
								@if (User.IsInRole("admin"))
								{
									<a asp-controller="Users" asp-action="Index" class="btn btn-outline-light">Manage Users</a>
									<a asp-controller="Roles" asp-action="Index" class="btn btn-outline-light">Manage Roles</a>
								}
								<a asp-controller="Account" asp-action="Logout" class="btn btn-outline-light">Logout</a>
							</p>
						</div>
					}
				</div>
			</div>
		</div>
	</div>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@RenderSection("Scripts", required: false)
</body>
</html>
